
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2 style="color:#003399;">HOŞGELDİNİZ</h2>
Huma otel yönetim sistemine hoşgeldiniz.<br />
Otelin bütün kontrollerini online bir şekilde sistem üzerinden gerçekleştirebilirsiniz.<br />
Giriş butonuna tıklayıp <a href="~/User" class="btn btn-info" role="button">Giriş</a>  sisteme giriş yapabilirsiniz<br />
<br />

